@using EPiServer.Framework.Localization;
@using EPiServer.ServiceLocation;
@using EPiServer.Web.Mvc.Html
@using Head_Chef.Models.Pages;
@using Head_Chef.Models.ViewModels;

@model ThankYouPageViewModel


    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }

        .form-container {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            max-width: 400px;
            width: 80%;
            background-color: #fff;
            margin: 5vh auto;
        }

        h1 {
            text-align: center;
            color: #333;
        }
    </style>

<body>
    <div class="form-container">
        <h1>@Html.Raw(Model.CurrentPage.Header)</h1>
    </div>
</body>

