@using EPiServer.Framework.Localization;
@using EPiServer.ServiceLocation;
@using EPiServer.Web.Mvc.Html
@using Head_Chef.Models.Pages;
@using Head_Chef.Models.ViewModels

@model FormsPageViewModel


<style>    
    .form-container {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 8px;
        max-width: 400px;
        width: 100%;
        background-color: #fff;
        margin: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

        .form-container label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        .form-container input,
        .form-container textarea {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
        }

        .form-container textarea {
            height: 226px;
            resize: vertical;
        }
        .form-container button {
            padding: 12px 20px;
            border: 1px #fff solid;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            background-color: #286052;
            color: #fff;
            transition: background-color 0.3s;
            width: 100%;
            display: inline-block;
        }

            .form-container button:hover {
                background-color: #cff2e4;
                color: #286052;
                border: 1px #286052 solid;
            }

</style>

<body>
    <div class="form-container">
        <h1>@Model.CurrentPage.Title</h1>
        @Html.PropertyFor(x => x.CurrentPage.ContentArea)
    </div>
</body>
