﻿@using EPiServer.Framework.Localization;
@using EPiServer.ServiceLocation;
@using EPiServer.Web.Mvc.Html
@using Head_Chef.Models.Pages;
@using Head_Chef.Models.ViewModels

@model FormsPageViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Form</title>
</head>

<body>
    <h1>Short Form</h1>
    <form action="#" method="post">
        <label for="firstName">DON'T USE, DOESN'T' WORK</label>
        <input type="text" id="firstName" name="firstName" required><br><br>
    </form>
</body>

</html>

@Html.PropertyFor(x => x.CurrentPage.ContentArea)