<html lang="en">
<body>
    <main>
        <article>
            <a id="main" class="meta"></a>


            <div class="color1">
                <div>

                    <div class="grid">
                        <div class="section">
                            <div class="row">
                                <div>
                                    <div class="col-md-12">
                                        <div>


                                            <div class="rte">
                                                <h1>Legal information about Cookies</h1>
                                                <p class="introduction">We have collected legal information about cookies and consents that are important to understand when using <a href="/" title="CookieTractor EN">CookieTractor</a>. </p>
                                                <hr>
                                                <p>You who use CookieTractor are the data controller for the cookies you place on your website. Cookies refer to all cookies, trackers, pixels, and similar technologies. CookieTractor does not process any personal data to handle your consents.</p>
                                                <p>There are requirements for you as a personal data controller according to GDPR to:</p>
                                                <ol>
                                                    <li><a href="#inhamta-samtycken" data-anchor="#inhamta-samtycken"><strong>Obtain consent when needed</strong></a></li>
                                                    <li><a href="#hantera-samtycken" data-anchor="#hantera-samtycken"><strong>Manage obtained consents</strong></a></li>
                                                    <li><a href="#rattslig-grund" data-anchor="#rattslig-grund"><strong>Ensure that there is a legal basis by GDPR for the processing done without the support of consents</strong></a></li>
                                                    <li><a href="#personuppgifter-info" data-anchor="#personuppgifter-info"><strong>Inform about the processing of visitors' personal data in accordance with pre-determined rules</strong></a></li>
                                                </ol>
                                                <h2><a id="inhamta-samtycken"></a>1. Obtaining consent</h2>
                                                <p>CookieTractor helps you to obtain the necessary consent directly in the tool.</p>
                                                <p><em>When do you need consent?</em></p>
                                                <h3>Necessary cookies</h3>
                                                <p>According to E-privacy directive 2002/58/EC, consent is not required for cookies necessary to provide a service explicitly requested by the user. It may be to:</p>
                                                <ul>
                                                    <li><strong>Enable an app, game, or other services to work</strong></li>
                                                    <li><strong>Store a shopping cart until the purchase of e-commerce</strong></li>
                                                    <li><strong>Remember that the visitor consented (to certain cookies)</strong></li>
                                                    <li><strong>Save other information that the visitor has chosen to save</strong></li>
                                                </ul>
                                                <h3>Visitor statistics and marketing</h3>
                                                <p>Consent is required by the E-Privacy Rules for activities such as:</p>
                                                <ul>
                                                    <li><strong>Tracking</strong></li>
                                                    <li><strong>Analysis</strong></li>
                                                    <li><strong>Other monitoring of user behavior</strong></li>
                                                    <li><strong>Marketing</strong></li>
                                                </ul>
                                                <p>Consent as a legal basis for personal data processing under the Data Protection Regulation 2016/679/EU (GDPR) is almost always required for:</p>
                                                <ul>
                                                    <li><strong>Saved shopping carts</strong></li>
                                                    <li><strong>Reminders</strong></li>
                                                    <li><strong>Marketing to Custom Audiences and Lookalike Audiences</strong></li>
                                                    <li><strong>Lead forms, lead ads</strong></li>
                                                    <li><strong>Remarketing, retargeting</strong></li>
                                                    <li><strong>Other collection of personal data for marketing purposes</strong></li>
                                                </ul>
                                                <p>This type of activity/cookie should always be defined as visitor statistics or marketing in the tool. If it does not end up there automatically, you need to enter and change the category of the cookie, which will move it to another category. You also need to customize your script integrations so that they respect the choices made in the consent box. Learn how to do this in <a href="/installationsanvisningar">the setup instructions</a>.</p>
                                                <h2><a id="hantera-samtycken"></a>2. Manage consent</h2>
                                                <p>For those cookies that require consent, certain rights are attached. This means that the visitor should be able to:</p>
                                                <ul>
                                                    <li><strong>Choose not to consent</strong></li>
                                                    <li><strong>Withdraw their consent</strong></li>
                                                    <li><strong>Block cookies</strong></li>
                                                    <li><strong>Review which cookies may be placed</strong></li>
                                                    <li><strong>Delete the placed cookies</strong></li>
                                                </ul>
                                                <p>CookieTractor helps with the processing of your consents in the following way:</p>
                                                <h3>Choose not to consent</h3>
                                                <p>The visitor can choose directly in the consent modal to actively consent to visitor statistics and marketing cookies, or only one of these categories, or opt-out.</p>
                                                <h3>Withdraw their consent</h3>
                                                <p>You place a link to change the cookie settings on your website that enables the visitor to withdraw their consent through renewed settings directly in the consent box. Learn how to do this in <a href="/setup-instructions" title="Setup instructions">the setup instructions</a>.</p>
                                                <h3>Block cookies</h3>
                                                <p>By not actively selecting <em>Visitor Statistics</em> and/or <em>Marketing</em>, these cookies will be blocked for the visitor.</p>
                                                <h3>Review which cookies may be placed</h3>
                                                <p>By following the link <em>Read more about our cookies</em> in the consent modal, the visitor can review which cookies may be placed.</p>
                                                <p>Please note that the information provided about each cookie is based on CookieTractor's standard texts of known cookies. You need to verify this information for each cookie. You may need to supplement with information if it is missing.</p>
                                                <h3>Delete the placed cookies</h3>
                                                <p>By following the website's link to the consent modal, visitors can renew their choices. By not actively selecting <em>Visitor Statistics</em> and/or <em>Marketing</em>, all cookies except third-party cookies will be deleted. It is not technically possible for CookieTractor to delete third-party cookies, the visitor must delete these in their browser. Please inform about this in your privacy policy or equivalent.</p>
                                                <h2><a id="rattslig-grund"></a>3. Legal basis according to GDPR</h2>
                                                <p>Cookies are a technology that can entail personal data processing, such as storing an IP address or information about user behavior that can be linked to an individual. For all personal data processing, explicit legal support is needed according to Article 6 GDPR, a so-called <em>legal basis</em>.</p>
                                                <h3>Consent as a legal basis</h3>
                                                <p>Consents that comply with the requirements set out in Article 7 GDPR constitute a legal basis for processing personal data. This means that the consent:</p>
                                                <ul>
                                                    <li><strong>Must be proven</strong></li>
                                                    <li><strong>Must be voluntary</strong></li>
                                                    <li><strong>Shall be specific, explicit and distinct, and separate from other consents or approvals</strong></li>
                                                    <li><strong>Must be informed</strong></li>
                                                    <li><strong>Can be revoked</strong></li>
                                                </ul>
                                                <h3><a id="bevisas"></a>Consent must be proven</h3>
                                                <p>You prove that consent has been given by storing the consents obtained in CookieTractor. Each consent receives a specific identifier that the visitor can see when they open the consent modal again. If the visitor has questions about what consent has been given, they can provide this identifier to you, after which you can verify the consent by searching for it in the tool.</p>
                                                <h3><a id="frivilligt"></a>Consent must be voluntary</h3>
                                                <p>The website must be functional without consent for visitor statistics and marketing cookies. These cookies may never be placed until consent has been obtained. CookieTractor will help you with that, but remember that you need to customize your script integrations to respect the choices made in the consent box. Learn how to do this in <a href="/setup-instructions" title="Setup instructions">the setup instructions</a>.</p>
                                                <h3><a id="specifikt"></a>Specific, explicit and distinct, and separated from other consents or approvals</h3>
                                                <p>CookieTractor separates consents for cookies from other approvals that can be made on your website. The visitor chooses which cookies consent is given to at a category level for it to be easy to understand what one agrees to. We strive to use as simple language as possible in CookieTractor's standard texts; if you think something is unclear, you should correct it. The same requirements apply to the formulations you add regarding the cookies that do not have standard text.</p>
                                                <h3><a id="informerat"></a>Consent must be informed</h3>
                                                <p>See more under section 4 <em>Information about personal data processing</em> below.</p>
                                                <h3><a id="aterkallas"></a>Consent can be revoked</h3>
                                                <p>A consent must at any time be able to be revoked as simple as it was to give the consent. This can be done by the visitor following the website's link to the consent box and renewing their choices. By not actively selecting <em>Visitor Statistics</em> and/or <em>Marketing</em>, these cookies will be deleted. Third-party cookies are deleted in the browser settings.</p>
                                                <h3>Balancing of interests as a legal basis</h3>
                                                <p>If you do not obtain consent for cookies that involve personal data processing, you will need a different legal basis under Article 6 GDPR. An example of this is a <em>legitimate interest</em>, also known as the balancing of interests. A balance of interests shall be documented and may, for example, be applied to provide certain services, such as functionality on a website.</p>
                                                <h2><a id="personuppgifter-info"></a>4. Information about cookies and personal data processing</h2>
                                                <h3>Information about cookies</h3>
                                                <p>According to Chapter 6, Section 18 of the Electronic Information Act, a visitor receives information about which cookies are placed and the purposes of each cookie's processing. This information is provided directly in CookieTractor. If it is missing from our standard texts, you need to fill in what purposes you have with a cookie.</p>
                                                <h3>Information about personal data processing under Articles 12-14 GDPR</h3>
                                                <p>According to GDPR, there are pre-determined rules about what you as a data controller must inform about when processing personal data. You can easily do this in a personal data policy or similar available on your website.</p>
                                                <p>Please note that the GDPR's information requirements apply in addition to the requirements of the Electronic Communications Act regarding the cookies that involve personal data processing (e.g., IP addresses or information about user behavior that can be linked to an individual). An example, according to Articles 13 GDPR and 14 GDPR, is in addition to the purposes of the processing, what legal basis you have for the personal data processing, who besides you can access the data, and what rights exist for the individual according to the data protection regulations.</p>
                                                <p>Some of these points are already met with CookieTractor, such as for purposes and retention periods. Still, the information requirements set out in said articles of the GDPR are much more far-reaching than can fit in a consent modal, the primary purpose of obtaining and managing consents legally. Therefore, our best tip is that you provide the information in different layers and links between the information in CookieTractor and the one contained in your privacy policy.</p>
                                                <h2>Good to know</h2>
                                                <p>To inform, you need to know which cookies you use on the website. It is important to have an initial inventory and a routine to pay attention to when you start using new tracking. CookieTractor will automatically conduct a monthly search of cookies and add/remove changes to your cookies. You will receive an email after each search informing you of what changes have occurred. It is also good to review whether you use your cookies or if some can be discontinued because they are not actively in use.</p>
                                                <h3>Third-party services</h3>
                                                <p>When you use third-party services, such as various plug-ins, like-buttons, and similar, there is a high risk that you are jointly responsible for the personal data controllers with the third party whose service you use. The requirements for joint data controllers can be found in Article 26 GDPR and mean that you need to develop a joint arrangement with the third party to determine your respective responsibilities according to the data protection regulations.</p>
                                                <p>You also need to review your agreements with the third party to determine whether they comply with applicable laws and regulations concerning third-country transfers. You also need to keep track of how the agreements are updated and monitor the changes that are being made, which may impact your personal data responsibility and, for example, the information you should provide.</p>
                                                <h3>Third country transfers</h3>
                                                <p>With the Schrems II judgment (C-311/18), the legal situation for third-country transfers to the United States became unclear. Third-country transfer means that you (the cookie you are responsible for placing) distribute personal data (such as IP addresses or information about user behavior) to a party (a company or organization) that has its registered office in a country outside the EU/EEA. It does not matter if the party has its servers within the EU/EEA if someone in the company or organization has access to the personal data.</p>
                                                <p>If you wish to use services that involve third-country transfers of personal data, you must ensure that you have special legal support for it under Chapter 5 of the GDPR.</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </article>
    </main>

    <footer>
    </footer>
       
    <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
