@using EPiServer.Web.Mvc.Html
@using Head_Chef.Models.ViewModels

@model ErrorPageViewModel

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        font-family: 'Arial', sans-serif; /* Använd valfri teckensnitt */
        background-color: #f8f9fa; /* Ljus bakgrundsfärg */
    } 

    .error-container {
        text-align: center;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ljus skugga för kontur */
        background-color: #fff; /* Vit bakgrundsfärg */

    }

    h2 {
        color: #007bff; /* Blå färg */
        font-size: 28px;
        margin-bottom: 20px;
    }

    .p {
        color: #007bff; /* Mörkgrå färg */
        font-size: 16px;
    }
</style>

<div class="error-container">
    <h2>@Html.PropertyFor(x => x.CurrentPage.Header)</h2>
    <p class="p">Please try again :)</p>
</div>





